[Unit]
Description=Cloudflare DynamicDNS Sync
Documentation=https://github.com/mrpk1906/cf-sync
Wants=network-online.target
After=network-online.target

[Service]
User=cs-sync
ExecStart=/opt/cf-sync -records-file-name production.json
Restart=always

[Install]
WantedBy=multi-user.target
